.navbar
{
    width: calc(100vw - 60px);
    margin: 10px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark);
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:0;
    border:none;
}

li {
    float: left;
    border:none;
}

li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover:not(.active) {
    color: var(--green);
}

.active {
    color: var(--dark);
    background-color: var(--green);
}