
.realisations {
    padding-top: 100px;
    flex-direction: row;
    align-items: start;
    min-height: calc(100vh - 100px);
    height:fit-content;
    background-color: var(--pink);
}

.realisations .left {
    float: left;
    width: calc(50% - 100px);
    height: calc(100% - 100px);

}

.realisations .right {
    float: right;
    width: calc(50% - 100px);
    height: calc(100% - 100px);
}

.realisations .project
{
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--light);
}